<%= render partial: "shared/navbar" %>
<div class="banner">
  <%# <div class="container float-right">
      <% if user_signed_in? %>
    <%# else %>
      <%# <p>you are not signed in</p> %>
    <%# end %>
  <%# </div> %>
  <div class="title">
    <h1 class="text-center">NeighborStudio</h1>
    <p class="text-center">Why use a home studio, when your Neighbor has one?</p>
  </div>
  <div class="text-center mt-5">
    <%= link_to "Find studios now!", studios_path, class:"start-btn btn btn-light btn-lg" %>
  </div>
</div>
